.headerAdmin {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 20px;
  padding: 16px;
  background-color: var(--landingdark-blue);
  color: #fff;
}

.headerTitle {
  font-size: 24px;
  font-weight: bold;
}

.navLinks {
  display: flex;
  gap: 20px;
}

.link {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.link:hover {
  color: #d4d4d4;
}
