.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 16px;
}

.mainContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.mainContent > * {
  margin-right: 30px;
}

/* Останньому елементу не потрібен правий відступ */
.mainContent > *:last-child {
  margin-right: 0;
}

.sliderHeader {
  color: black;
  font-size: 35px;
  font-family: var(--web-font-family);
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sliderContainer {
  width: 800px;
  height: 400px;
  position: relative;
  overflow: hidden;
  padding-bottom: 5px;
  white-space: nowrap;
}

.slider {
  width: 100%;
  height: 100%;
  background: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigationButton {
  width: 40px;
  height: 40px;
  margin: 0 10px;
  cursor: pointer;
  font-size: 40px;

  display: flex;
  align-items: center;
}

.cardText {
  color: black;
  font-size: 30px;
  font-weight: 400;
  width: 90%;
  text-align: center;
  text-wrap: wrap;
  word-break: break-word;
  overflow: hidden;

  max-height: 90%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7; /* Максимальна кількість рядків */
}

.progressContainer {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 5px;
  gap: 10px;
}

.progressBlock {
  width: 100%;
  height: auto;
  padding: 10px 20px 20px;
  background: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.progressTitle {
  color: black;
  font-size: 30px;
  font-weight: 400;
}

.progressInfo {
  padding: 0 20px;
  display: flex;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.circularChart {
  width: 100%;
  max-width: 200px;
  max-height: 200px;
  position: relative;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.circularChart svg {
  width: 100%;
  height: 100%;
}

.progressPercent {
  font-size: 1.5em;
  color: black;
}
.progressDetails {
  font-size: 23px;
  min-width: 160px;
}

.known,
.stillLearning {
  color: black;
}

.stillLearning span {
  color: #144250;
}

.studyButton {
  width: 100%;
  height: 50px;
  padding: 8px 30px;
  background: #1d1352;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  cursor: pointer;
}

.buttonIcon,
.buttonIcon img {
  width: 35px;
  height: 30px;
}

.buttonIcon {
  display: flex;
}

.buttonViewFlashcards {
  background: white;
}

.buttonViewFlashcards .buttonText {
  color: #1d1352;
}

.buttonText {
  color: white;
  font-size: 23px;
  font-weight: 400;
}

@media (max-width: 900px) {
  .mainContent {
    flex-direction: column;
    gap: 20px;
  }

  .mainContent > * {
    margin-right: 0;
    width: 100%;
  }
  .sliderContainer {
    width: 100%;
    max-width: 100%;
  }

  .progressContainer {
    gap: 20px;
  }
  .progressInfo {
    flex-direction: row;
    gap: 30px;
  }
}

@media (max-width: 900px) {
  .sliderHeader {
    font-size: 28px;
  }

  .cardText {
    font-size: 24px;
  }

  .progressTitle,
  .progressPercent {
    font-size: 25px;
  }

  .progressDetails {
    font-size: 20px;
  }
  .buttonText {
    font-size: 24px;
  }
}

@media (max-width: 901px) {
  .circularChart svg {
    width: 100%;
    height: 100%;
  }

  .progressPercent {
    font-size: 20px;
  }

  .progressBlock {
    height: auto;
    gap: 20px;
  }

  .progressInfo {
    justify-content: center;
  }
}

@media (max-width: 700px) {
  .sliderHeader {
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
}

@media (max-width: 600px) {
  .sliderHeader {
    font-size: 24px;
  }

  .cardText {
    font-size: 20px;
  }

  .progressTitle,
  .progressPercent {
    font-size: 20px;
  }

  .progressDetails {
    font-size: 20px;
  }
  .buttonText {
    font-size: 20px;
  }
}

@media (max-width: 400px) {
  .sliderHeader {
    font-size: 20px;
  }

  .cardText {
    font-size: 18px;
  }

  .progressTitle,
  .progressPercent {
    font-size: 18px;
  }

  .progressDetails,
  .known,
  .stillLearning {
    font-size: 18px;
  }
  .buttonText {
    font-size: 18px;
  }
}
