.libraryPage {
  font-family: var(--web-font-family);
  padding: 10px 40px;
  align-self: center;
}

.spinnerWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
}

.spinner-border {
  width: 3rem;
  height: 3rem;
  color: black;
}

.header {
  font-size: var(--web-35-regular-font-size);
  margin-bottom: 10px;
  font-weight: bold;
}

@media (max-width: 1200px) {
  .header {
    font-size: var(--web-30-regular-font-size);
    margin-bottom: 7px;
  }
}

.tabs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  border-bottom: 2px solid var(--maingray);
  align-items: center;
  text-align: center;
  height: 60px;
}

/* Адаптивність для вкладок */
.tab {
  padding: 10px 20px;
  font-size: var(--web-23-regular-font-size);
  cursor: pointer;
  position: relative;
  color: var(--maingray);
  height: 100%;
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .tab {
    font-size: var(--web-18-regular-font-size);
    padding: 8px 8px;
  }

  .libraryPage {
    padding: 10px 20px;
  }
}

.tab:hover {
  color: var(--mainblack);
}

.active {
  font-weight: bold;
  color: var(--mainblack);
}

.active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 4px;
  width: 100%;
  background-color: var(--landingdark-blue);
}

.tabContent {
  margin-top: 20px;
  align-items: center;
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .tabContent {
    padding: 10px;
  }

  .libraryPage {
    padding: 10px;
  }

  .tab {
    font-size: var(--web-18-regular-font-size);
  }

  .header {
    font-size: var(--web-23-light-font-size);
    margin-bottom: 5px;
  }
}
