.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: var(--web-font-family);
}

.group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 10px 40px;
  gap: 20px;
}

.columnLeft {
  width: 70%; /* Це значення зміниться в медіа-запиті */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
}

.columnRight {
  padding-top: 67.5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  width: fit-content;
}

.setTitle {
  font-size: var(--web-35-regular-font-size);
  font-weight: 700;
  color: black;
  word-wrap: break-word;
  align-self: stretch;
}

.inputField {
  display: flex; /* Розташовуємо елементи в один рядок */
  align-items: center; /* Вирівнюємо вертикально по центру */
  gap: 20px; /* Додаємо відстань між заголовком та інпутом */
  width: 100%; /* Щоб контейнер займав всю ширину */
}

.label {
  font-size: var(--web-23-regular-font-size);
  color: black;
  width: 330px; /* Фіксована ширина для .label */
}

.inputText {
  flex-grow: 1; /* Змушує інпут займати все вільне місце */
  padding: 5px;
  border: 1px solid var(--maingray); /* Ставимо рамку */
  border-radius: 15px; /* Краї */
  font-size: var(--web-18-regular-font-size);
  color: #5a5a5a;
  max-width: 480px;
}

.createUpdateButton,
.createUpdateButtonFooter,
.cancelButton {
  height: 51px;
  padding: 7px 30px;
  background: var(--landingdark-blue);
  border-radius: 15px;
  border: 1px solid black;
  color: white;
  font-size: var(--web-23-regular-font-size);
  font-weight: 400;
  cursor: pointer;
  width: 180px;
}

/*.buttonBlock {
  display: flex;
  flex-direction: column;
  gap: 20px;
}*/

.cancelButton {
  width: 100%;
  max-width: 300px;
  background: var(--mainwhite);
  border-radius: 15px;
  border: 1px solid var(--landingdark-blue);
  color: var(--landingdark-blue);
}

.createUpdateButtonFooter {
  width: 100%;
  max-width: 300px;
}

.questions {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 25px;
  margin-bottom: 20px;
}

/*кнопка для додавання*/
.addQuestionButton {
  width: 100%;
  padding: 10px 0; /* Вирівнюємо відступи по вертикалі */
  background: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer; /* Додаємо курсор для вказівника */
  margin-top: 20px; /* Відступ зверху */
  border: 1px solid transparent; /* Прозорий кордон, щоб кнопка виглядала нормально */
}

.buttonText {
  font-size: var(--web-23-regular-font-size);
  color: black;
  font-weight: 400;
}

.buttonBorder {
  width: 100%; /* Лінія займає всю ширину */
  border-top: 2px solid #144250; /* Змінюємо на верхню лінію */
  margin-top: 5px; /* Відступ між текстом і лінією */
}

.footer {
  bottom: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

/* При малих екранах верхня кнопка пропадає, а футер з'являється */
@media (max-width: 1200px) {
  .columnRight {
    display: none;
  }
  .group {
    width: 100%; /* Змінюємо ширину групи на 100% */
  }

  .columnLeft {
    width: 100%; /* Задаємо ширину для лівого стовпця на всю ширину */
  }

  .columnRight {
    text-align: center;
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
    padding: 10px 20px;
  }

  .createUpdateButtonFooter,
  .cancelButton {
    max-width: 200px;
  }
}

@media (max-width: 900px) {
  .setTitle {
    font-size: var(--web-30-regular-font-size);
  }

  .label {
    width: 280px;
    font-size: var(--web-20-regular-font-size);
  }

  .buttonText {
    font-size: var(--web-20-regular-font-size);
  }
}

@media (max-width: 700px) {
  .setTitle {
    font-size: var(--web-23-regular-font-size);
  }

  .label {
    width: 230px;
    font-size: var(--web-18-regular-font-size);
  }

  .inputField {
    gap: 10px;
  }

  .inputText {
    width: 100%; /* Займає всю доступну ширину в контейнері */
    flex-shrink: 1; /* Дозволяє інпуту скорочуватись у flex-контейнері */
  }

  .createUpdateButton,
  .createUpdateButtonFooter,
  .cancelButton {
    font-size: var(--web-18-regular-font-size);
  }

  .label {
    width: 150px;
    min-width: 150px;
  }

  .setTitle {
    text-align: center;
  }

  .buttonText {
    font-size: var(--web-18-regular-font-size);
  }
}

.createUpdateButton,
.createUpdateButtonFooter,
.cancelButton {
  transition:
    transform 0.2s ease,
    background-color 0.2s ease;
}

.createUpdateButton:hover,
.createUpdateButtonFooter:hover {
  background-color: #34228a; /* Зелений колір при наведенні */
  transform: scale(1.05); /* Збільшення кнопки */
}

.cancelButton:hover {
  background-color: #d4d4d4; /* Червоний колір при наведенні */
  transform: scale(1.05);
}
