.container {
  width: 98%;
  align-self: center;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

.separator {
  width: 98%;
  border: 1.5px black solid;
  margin: 0 auto;
}

.message {
  margin-top: 20px;
}

@media (max-width: 600px) {
  .separator {
    border: none;
    height: 1px;
    background-color: black;
  }
}

@media (max-width: 400px) {
  .separator {
    border: none;
    height: 0.5px;
    background-color: black;
  }
}
