.wrapper {
  width: 440px;
  height: fit-content;
  padding: 11px 9px;
  background: var(--mainwhite);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px;
  font-family: var(--web-font-family);
}

.content {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon {
  width: 20px;
  height: 20px;
}

.userInfo {
  display: flex;
  align-items: center;
}

.userIcon {
  width: 25px;
  height: 23px;
  position: relative;
  background-image: url('./Group.svg');
  margin-right: 5px;
}

.username {
  color: black;
  font-size: var(--web-20-regular-font-size);
  font-weight: 700;
  word-wrap: break-word;
}

.categoryContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.categoryText {
  padding: 1px 9px;
  background: #d6dbe1;
  border-radius: 10px;
  color: black;
  font-size: var(--web-14-regular-font-size);
  font-weight: 400;
  word-wrap: break-word;
  width: fit-content;
}

.articleInfo {
  display: flex;
  align-items: top;
  width: 100%;
}

.articleLabel {
  color: black;
  font-size: var(--web-18-regular-font-size);
  font-weight: 700;
  margin-right: 5px;
}

.articleTitle {
  color: black;
  font-size: var(--web-18-regular-font-size);
  font-weight: 400;
  flex: 1;
  word-wrap: break-word;
}

.descriptionContainer {
  width: 100%;
  position: relative;
}

.descriptionLabel {
  color: black;
  font-size: var(--web-18-regular-font-size);
  font-weight: 700;
  word-wrap: break-word;
}

.descriptionText {
  color: black;
  font-size: var(--web-18-regular-font-size);
  font-weight: 400;
  word-wrap: break-word;
  margin-top: 5px;
}

.dateLikesContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.date {
  color: #5a5a5a;
  font-size: var(--web-18-regular-font-size);
  font-weight: 400;
  word-wrap: break-word;
}

.likesContainer {
  display: flex;
  align-items: center;
}

.likesCount {
  color: black;
  font-size: var(--web-18-regular-font-size);
  font-weight: 400;
  word-wrap: break-word;
  margin-right: 5px;
}

.likesIcon {
  width: 24px;
  height: 24px;
  background: black;
  margin-right: 5px;
}

.dislikesCount {
  color: black;
  font-size: var(--web-18-regular-font-size);
  font-weight: 400;
  word-wrap: break-word;
  margin-right: 5px;
}

.dislikesIcon {
  width: 24px;
  height: 24px;
  background: black;
}

@media (max-width: 600px) {
  .wrapper {
    width: 400px;
    padding: 8px;
  }

  .username {
    font-size: var(--web-18-regular-font-size);
  }

  .articleLabel,
  .articleTitle,
  .descriptionLabel,
  .descriptionText,
  .date,
  .likesCount,
  .dislikesCount {
    font-size: var(--web-15-regular-font-size);
  }

  .category {
    font-size: var(--web-13-regular-font-size);
  }
}

@media (max-width: 420px) {
  .wrapper {
    width: 340px;
    padding: 5px;
  }

  .username {
    font-size: var(--web-15-regular-font-size);
  }

  .articleLabel,
  .articleTitle,
  .descriptionLabel,
  .descriptionText,
  .date,
  .likesCount,
  .dislikesCount {
    font-size: var(--web-15-regular-font-size);
  }

  .category {
    font-size: var(--web-10-regular-font-size);
  }
}
