.container {
  width: 440px;
  padding: 15px;
  background: var(--mainwhite);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
  gap: 10px;
  font-family: var(--web-font-family);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.iconContainer {
  display: flex;
  align-items: center;
  gap: 5px;
}

.icon {
  width: 35.64px;
  height: 23px;
  background-image: url('./Vector.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.title {
  font-size: var(--web-18-regular-font-size);
  font-weight: 700;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 250px;
}

.savedIcon {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: auto;
}

.visibilityContainer {
  display: flex;
  align-items: center;
}

.visibilityIcon {
  width: 20px;
  height: 20px;
}

.visibilityInfo {
  white-space: nowrap;
  margin-left: 5px;
}

.likeIcon {
  display: flex;
  align-items: center;
  margin-left: 7px;
}

.infoRow {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-size: var(--web-18-regular-font-size);
}

.bold {
  font-weight: 500;
  font-size: var(--web-18-regular-font-size);
}

.level,
.questionsCount {
  font-size: var(--web-15-regular-font-size);
}

.levelValue {
  font-weight: 500;
  color: #333;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 5px;
}

.category {
  padding: 5px 10px;
  background: #d6dbe1;
  border-radius: 10px;
  font-size: var(--web-13-regular-font-size);
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 5px;
}

.userIcon {
  width: 25px;
  height: 23px;
  background-image: url('./Group.svg');
}

.username {
  font-size: var(--web-20-regular-font-size);
}

.date {
  font-size: var(--web-18-regular-font-size);
  color: #5a5a5a;
}

@media (max-width: 600px) {
  .container {
    gap: 10px;
    height: fit-content;
    padding: 10px;
    width: 400px;
  }

  .icon {
    width: 32px;
    height: 20px;
  }

  .title {
    font-size: var(--web-15-regular-font-size);
  }

  .username {
    font-size: var(--web-18-regular-font-size);
  }

  .date {
    font-size: var(--web-15-regular-font-size);
  }

  .categories {
    gap: 6px;
  }

  .category {
    font-size: var(--web-15-regular-font-size);
    padding: 4px 8px;
  }
}

@media (max-width: 420px) {
  .container {
    height: fit-content;
    width: 340px;
  }

  .title {
    font-size: var(--web-15-regular-font-size);
    max-width: 170px;
  }

  .username {
    font-size: var(--web-15-regular-font-size);
  }

  .date {
    font-size: var(--web-13-regular-font-size);
  }

  .categories {
    gap: 4px;
  }

  .category {
    font-size: var(--web-13-regular-font-size);
    padding: 3px 6px;
  }
}
