.modalContainer {
  width: 430px;
  height: 500px;
  padding: 14px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 15px;
}

.modalHeader {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
}

.closeButton {
  position: absolute;
  left: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 0px;
}

.modalTitle {
  font-size: 23px;
  font-weight: 400;
  font-family: 'Noto Sans', Helvetica;
  margin-bottom: 0px;
}

.friendsList {
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 350px;
  overflow-y: auto;
}

.friendItem {
  width: 100%;
  padding: 10px 14px;
  background: white;
  border-radius: 15px;
  border: 1px solid #e5e5e5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.friendInfo {
  display: flex;
  align-items: center;
}

.notFound {
  width: 100%;
  text-align: center;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.friendName {
  margin-left: 10px;
  font-size: 18px;
  font-family: 'Noto Sans', Helvetica;
  color: black;
}

.askButton {
  padding: 6px 11px;
  background: var(--landingdark-blue);
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.askButton:disabled {
  background: var(--maingray);
  cursor: default;
}

.askButton .spinner-border {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
