.container {
  width: 100%;
  padding: 9px 14px;
  background: white;
  border-radius: 15px;
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 19px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header span {
  font-size: 20px;
  font-family: 'Noto Sans', sans-serif;
}

.trashIcon {
  width: 25px; /* Налаштуйте ширину */
  height: 25px; /* Налаштуйте висоту */
  cursor: pointer; /* Змінюємо курсор на pointer */
  color: #5a5a5a; /* Налаштуйте колір, якщо потрібно */
}

.inputRow {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.inputColumn {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 50%;
}

.inputColumn label {
  font-size: 18px;
  color: #5a5a5a;
  font-family: 'Noto Sans', sans-serif;
  padding-left: 5px;
}

.inputArea {
  width: 100%;
  padding: 10px 5px;
  font-size: 20px;
  color: black;
  font-family: 'Noto Sans', sans-serif;
  border: none;
  border-bottom: 2px solid #5a5a5a;
  resize: none;
  overflow: hidden;
  height: fit-content;
  transition: font-size 0.2s ease;
}

.inputArea:focus {
  outline: none;
  border-bottom-color: black;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 400px;
  z-index: 1000; /* Пріоритет для модального вікна */
}

.questionModal {
  text-align: center;
  font-size: var(--web-23-regular-font-size);
  font-weight: 700;
}

.blockButtonsConfirm {
  display: flex;
  justify-content: space-around;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999; /* Пріоритет для фону */
}

.confirmButton,
.cancelButton {
  background-color: var(--landingdark-blue);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

/* Адаптивні стилі для середніх і малих екранів */
@media (max-width: 768px) {
  .wrapper {
    gap: 10px;
  }
  .inputRow {
    flex-direction: column;
    gap: 10px;
  }

  .inputColumn {
    width: 100%; /* Розтягнення колонки на всю ширину */
  }

  .header span {
    font-size: 18px;
  }

  .inputArea {
    font-size: 18px;
  }

  .trashIcon {
    width: 18px;
    height: 18px;
  }

  .questionModal {
    font-size: var(--web-18-regular-font-size);
  }
}
