.globalSearchBlock {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
}

.title {
  font-size: var(--web-23-regular-font-size);
  font-weight: 500;
}

.titleBlock {
  display: flex;
  justify-content: space-between;
}

.viewAll {
  color: var(--landingdark-blue);
  font-size: 23px;
  cursor: pointer;
}

.blockSearch {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 20px;
}

.blockResult {
  width: 100%;
  margin: 0 auto;
}

.slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search {
  width: 80%;
  margin-top: 10px;
  display: none;
}

.recommendationTitle {
  font-size: var(--web-30-regular-font-size);
  font-weight: bold;
  padding: 10px 40px;
  width: 100%;
  text-align: left;
}

.carousel {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  justify-content: space-around;
}

.container {
  display: flex;
  justify-content: space-around;
  transition: transform 0.3s ease;
  width: 100%;
}

.resourceComponent {
  flex: 0 0 calc(33.33% - 20px); /* або 50% для двох на ряд */
  margin: 10px; /* Встановіть відступи для кращого відображення */
}

.arrowLeft,
.arrowRight {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  font-size: var(--web-40-regular-font-size);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.arrowLeft {
  left: 0px;
}

.arrowRight {
  right: 10px;
}

.carousel:hover .arrowLeft,
.carousel:hover .arrowRight {
  opacity: 1;
}

@media (min-width: 940px) {
  .questionSetComponent {
    flex: 0 0 calc(33.33% - 20px);
  }
}

@media (min-width: 600px) and (max-width: 940px) {
  .questionSetComponent {
    flex: 0 0 calc(50% - 20px);
  }
}

@media (max-width: 600px) {
  .questionSetComponent {
    flex: 0 0 100%;
  }
}

@media (max-width: 768px) {
  .search {
    display: block;
  }

  .recommendationTitle,
  .title {
    text-align: center;
  }

  .title {
    font-size: var(--web-20-regular-font-size);
  }

  .viewAll {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: var(--web-18-regular-font-size);
  }

  .viewAll {
    font-size: 18px;
  }

  .questionSetComponent {
    flex: 0 0 100%;
  }
}
