.container {
  width: 100%;
  height: auto; /* Висота адаптується автоматично */
  display: flex;
  align-items: center;
  background: white;
  border-radius: 15px;
  margin: 10px 0;
  position: relative;
  overflow: hidden;
  padding: 5px 15px;
  font-family: var(--web-font-family);
  min-height: 70px; /* Мінімальна висота */
}

.iconContainer {
  width: 56px;
  height: 53px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--blueeeeee);
  border-radius: 15px;
  margin-right: 10px;
}

.setIcon {
  width: 35px;
  height: 32px;
}

.textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  word-wrap: break-word; /* Автоматичний перенос слів на новий рядок */
}

.setName {
  color: black;
  font-size: var(--web-23-regular-font-size);
  font-weight: 400;
  transition: font-size 0.3s ease;
}

.infoContainer {
  display: flex;
  justify-content: flex-start;
  color: var(--maingray);
  font-size: var(--web-18-regular-font-size);
  gap: 2px;
  transition: font-size 0.3s ease;
  flex-wrap: wrap; /* Дозволяє тексту переходити на новий рядок */
}

.author {
  color: var(--maingray);
}

.addedIcon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.actionIcon {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.rightContainer {
  display: flex;
  align-items: center; /* Вирівнювання по центру по вертикалі */
  margin-left: auto; /* Автоматичний лівий відступ для прикріплення до правого краю */
}

.date {
  color: var(--maingray);
  font-size: var(
    --web-18-regular-font-size
  ); /* Задайте бажаний розмір шрифту */
  margin-left: 10px; /* Відступ між іконкою і датою */
}

/* Адаптивність */
@media (max-width: 1200px) {
  .setName {
    font-size: var(--web-20-regular-font-size);
  }
  .infoContainer {
    font-size: var(--web-15-regular-font-size);
  }
}

@media (max-width: 900px) {
  .setName {
    font-size: var(--web-18-regular-font-size);
  }
}

@media (max-width: 600px) {
  .container {
    padding: 5px 10px;
  }
  .iconContainer {
    width: 45px;
    height: 45px;
  }
  .setName {
    font-size: var(--web-15-regular-font-size);
  }
  .infoContainer {
    font-size: var(--web-13-regular-font-size);
  }
}
