.formContainer {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-width: 300px;
  gap: 20px;
}

.title {
  align-self: stretch;
  text-align: center;
  color: black;
  font-size: 23px;
  font-weight: 400;
  word-wrap: break-word;
}
.inputContainer {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  min-width: 300px;
}

.inputWrapper {
  width: 85%;
  border: 1px solid var(--mainblack);
  border-radius: 15px;
  min-width: 300px;
}

.input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 15px;
  font-size: var(--web-18-regular-font-size);
  font-weight: 400;
}

.confirmButton {
  width: 85%;
  padding: 15px;
  background: var(--mainyellow);
  border-radius: 15px;
  border: 1px solid rgba(90, 90, 90, 0.5);
  color: var(--mainblack);
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 300px;
}

.confirmButtonText {
  color: black;
  font-size: var(--web-23-regular-font-size);
  font-weight: 400;
  word-wrap: break-word;
}

.cancelButton {
  width: 85%;
  padding: 15px;
  background: var(--mainwhite);
  border-radius: 15px;
  border: 2px solid rgba(90, 90, 90, 0.5);
  color: var(--mainblack);
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 300px;
}

@media (max-width: 768px) {
  .inputText {
    font-size: var(--web-16-regular-font-size);
  }

  .confirmButtonText {
    font-size: var(--web-16-regular-font-size);
  }

  .inputContainer {
    gap: 7px;
  }
}
